body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    /* background-color: black; */
}
.navbar{
    height: 100%;
}

@font-face {
    font-family: montserrat-bold;
    src: url(../fonts/montserrat/Montserrat-Bold.otf);
    /* font-weight: bold; */
    /* font-size: 21px; */
}

@font-face {
    font-family: montserrat-light;
    src: url(../fonts/montserrat/Montserrat-Light.otf);
    /* font-weight: bold; */
    /* font-size: 21px; */
}

@font-face {
    font-family: montserrat-regular;
    src: url(../fonts/montserrat/Montserrat-Regular.otf);
    /* font-weight: bold; */
    /* font-size: 21px; */
}

.montserrat-bold {
    font-family: montserrat-bold;
    /* font-weight: bold; */
}

.montserrat-light {
    font-family: montserrat-light;
    /* font-weight: bold; */
}

.montserrat-regular {
    font-family: montserrat-regular;
}
/* .m-35px {
    margin-top:35px;
} */

.h-80px {
    height: 80px;
}
.animation-duration {
    animation-duration: 0.8s;
}
.animation-duration2 {
    animation-duration: 2.8s;
}

#carouselExampleIndicators .card-body h4 {
    font-size:1rem;
}

.img-description {
    position: absolute;
    bottom: 0px;
    left: 0;
    visibility: visible;
    color: white;
    font-family: montserrat-bold;
    src: url(../../font/montserrat/Montserrat-Bold.otf);
    font-size: 8px;
    margin-left: 0.5rem;
    margin-right: 1rem;
    transition: visibility 0.51s linear;
}

.img-description p {
    margin-bottom: 0.5rem;
}
.img-opacity:before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
    transition:  background 1s linear;
  }

  .img-opacity:hover::before{
    cursor: pointer;
    background: rgba(0,0,0,0);
  }

/* #mainGallery,
#smallGallery {
    position: relative;
} */

.moveRight {
    position: relative;
    /* right:250%; */
}

.card {
    border: none !important;
}
.card-body {
    line-height: 35px;
    padding-top: 2%;
}
.card-title {
    margin-bottom: 0 !important;
}

/*
 *
 *  EVENT CAROUSEL
 *
 *
 */

 #smallGallery .carousel-control-prev,
 #smallGallery .carousel-control-next {
        height: 100%;
        bottom: -60px;
        top: 0px;
    }

 .carousel-control-prev,.carousel-control-next {
     height: calc(100% - (80px));
     top:80px !important;
 }


.display-visibility {
    display: none;
}

.gallery-first-slide h1 {
    font-size:1rem;
}

.news-first-slide h1{
    font-size:1rem;
}
.carousel-indicators li {
    background-color: #cccccc;
    width: 10px;
    height: 10px;
    border-radius: 100%;
}
.carousel-indicators .active {
    background-color: #000000;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 20px !important;
    height: 20px !important;
    cursor: pointer;
    position: absolute;
    bottom: 30px;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23c2c3c5' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3e%3c/svg%3e");
    -webkit-transition: background-image 0.5s; /* Safari */
    -webkit-transition-delay: 0.5s;
    transition: background-image 0.5s;
    position: absolute;
    bottom: 30px;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23c2c3c5' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3e%3c/svg%3e");

    -webkit-transition: background-image 0.5s; /* Safari */
    -webkit-transition-delay: 0.5s;
    transition: background-image 0.5s;
    transition-delay: 0.5s;
    position: absolute;
    bottom: 30px;
}

.carousel-control-prev:hover > .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='%23000000' viewBox='0 0 8 8'><path d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/></svg>");
}

.carousel-control-next:hover > .carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23000000' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3e%3c/svg%3e");
}

.close-gallery {
    background-image: url("../../images/iconic/close-gallery.png");
    -webkit-transition: background-image 0.5s; /* Safari */
    transition: background-image 0.5s;
    background-repeat: no-repeat;
    height:100%;
    width:30px;
    margin-left: 20px;
    cursor: pointer;
    margin-top: 20px;
  }

  .close-gallery:hover {
    background-image: url("../../images/iconic/close-gallery-black.png");
  }

/* .carousel-item-gallery {
    margin-right: 0;
} */
/*news*/
.page-heading {
    font-size: 24pt;
}
.carousel-item-news {
    margin-right: 0;
}

/* show 2 items */
#smallGallery .carousel-inner-news .active + .carousel-item-news  {
    display: block;
}

.carousel-inner-news
    .carousel-item-news.active:not(.carousel-item-right):not(.carousel-item-left),
.carousel-inner-news
    .carousel-item-news.active:not(.carousel-item-right):not(.carousel-item-left)
    + .carousel-item-news {
    transition: none;
}

.carousel-inner-news .carousel-item-next {
    position: relative;
    transform: translate3d(0, 0, 0);
}

/* left or forward direction */
#smallGallery
    .active.carousel-item-left
    + .carousel-item-next.carousel-item-left,
.carousel-item-next.carousel-item-left + .carousel-item-news,
#smallGallery
    .carousel-item-next.carousel-item-left
    + .carousel-item-news
    + .carousel-item-news {
    position: relative;
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
}

/* farthest right hidden item must be abso position for animations */
.carousel-inner-news .carousel-item-prev.carousel-item-right {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    visibility: visible;
}

/* right or prev direction */
#smallGallery
    .active.carousel-item-right
    + .carousel-item-prev.carousel-item-right,
#smallGallery .carousel-item-prev.carousel-item-right + .carousel-item-news,
#smallGallery
    .carousel-item-prev.carousel-item-right
    + .carousel-item-news
    + .carousel-item-news {
    position: relative;
    transform: translate3d(100%, 0, 0);
    visibility: visible;
    display: block;
    visibility: visible;
}

.carousel-inner-news
    .active.col-6.carousel-item-news
    + .carousel-item-news
    + .carousel-item-news {
    position: absolute;
    top: 0;
    right: -50%; /*change this with javascript in the future*/
    /* z-index: -1; */
    display: block;
    visibility: visible;
}

/*opened news*/

.overlay-news {
    height: calc(100% - (80px));
    margin-top: 80px;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 1);
    overflow-x: hidden;
    transition: 1.5s;
}
@media (min-width: 760px) {
    .h-100px {
        height:100px;
    }
}


@media (min-width: 990px) {


    .carousel-control-prev,.carousel-control-next {
        height: calc(100% - (100px));
        top:90px !important;
    }

    .close-gallery {
        height:100%;
        width:30px;
        margin-left: 35px;
        margin-top: 35px;
      }

    #carouselExample2 .carousel-control-prev, #carouselExample2 .carousel-control-next {
        height: calc(100% - (100px));
        top:100px !important;
    }

    #carouselExample2 .carousel-inner-gallery {
        width: 120%;
        left: -10%;
    }

    .h-100px {
        height: 100px;
    }
    #mainGallery .w-120 {
        width: 120%;
        /* transform: scale(2.2);
        transform-origin: 50% 0; */
    }

    #carouselExample .carousel-inner-main {
        left: -10%;
    }
    .carousel-item-main {
        margin-right: 0;
    }
    .click:hover {
        cursor: pointer;
      }

    .col-md-25 {
        flex: 0 0 25% !important;
        max-width: 25% !important;
    }

    .carousel-inner-main .active,
    .carousel-inner-main .active + .carousel-item-main,
    .carousel-inner-main .active + .carousel-item-main + .carousel-item-main {
        display: block;
    }

    .carousel-inner-main
        .carousel-item-main.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner-main
        .carousel-item-main.active:not(.carousel-item-right):not(.carousel-item-left)
        + .carousel-item-main,
    .carousel-inner-main
        .carousel-item-main.active:not(.carousel-item-right):not(.carousel-item-left)
        + .carousel-item-main
        + .carousel-item-main {
        transition: none;
    }

    .carousel-inner-main .carousel-item-next {
        position: relative;
        transform: translate3d(0, 0, 0);
    }

    /* left or forward direction */
  #carouselExample2  .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left + .carousel-item-main,
    .carousel-item-next.carousel-item-left
        + .carousel-item-main
        + .carousel-item-main,
    .carousel-item-next.carousel-item-left
        + .carousel-item-main
        + .carousel-item-main
        + .carousel-item-main {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }

    /* right or prev direction */
    .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right + .carousel-item-main,
    .carousel-item-prev.carousel-item-right
        + .carousel-item-main
        + .carousel-item-main,
    .carousel-item-prev.carousel-item-right
        + .carousel-item-main
        + .carousel-item-main
        + .carousel-item-main {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }

    /* farthest right hidden item must be abso position for animations */
    .carousel-inner-main .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }

    .carousel-inner-main
        .active.carousel-item-main
        + .carousel-item-main
        + .carousel-item-main
        + .carousel-item-main {
        position: absolute;
        top: 0;
        right: -33.3333%;
        z-index: -1;
        display: block;
        visibility: visible;
    }

    /*opened event*/
    .gallery-first-slide h1 {
        font-size:1rem;
    }
    .mobile-first p {
        font-size:0.6rem;
    }
    .transform-img {
        transform: scale(1.8);
        transform-origin: 50% 0%;
    }

    .carousel-item-gallery {
        margin-right: 0;
        padding-right: 15px !important;
        padding-left: 15px !important;
    }

    .carousel-inner-gallery .active,
    .carousel-inner-gallery .active + .carousel-item-gallery,
    .carousel-inner-gallery
        .active
        + .carousel-item-gallery
        + .carousel-item-gallery {
        display: block;
    }

    .carousel-inner-gallery
        .carousel-item-gallery.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner-gallery
        .carousel-item-gallery.active:not(.carousel-item-right):not(.carousel-item-left)
        + .carousel-item-gallery,
    .carousel-inner-gallery
        .carousel-item-gallery.active:not(.carousel-item-right):not(.carousel-item-left)
        + .carousel-item-gallery
        + .carousel-item-gallery {
        transition: none;
    }

    .carousel-inner-gallery .carousel-item-next {
        position: relative;
        transform: translate3d(0, 0, 0);
    }

    /* left or forward direction */
   #carouselExample2 .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left + .carousel-item-gallery,
    .carousel-item-next.carousel-item-left
        + .carousel-item-gallery
        + .carousel-item-gallery,
    .carousel-item-next.carousel-item-left
        + .carousel-item-gallery
        + .carousel-item-gallery
        + .carousel-item-gallery {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }

    /* right or prev direction */
    .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right + .carousel-item-gallery,
    .carousel-item-prev.carousel-item-right
        + .carousel-item-gallery
        + .carousel-item-gallery,
    .carousel-item-prev.carousel-item-right
        + .carousel-item-gallery
        + .carousel-item-gallery
        + .carousel-item-gallery {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }

    /* farthest right hidden item must be abso position for animations */
    .carousel-inner-gallery .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }

    .carousel-inner-gallery
        .active.carousel-item-gallery
        + .carousel-item-gallery
        + .carousel-item-gallery
        + .carousel-item-gallery {
        position: absolute;
        top: 0;
        right: -33.3333%;
        z-index: -1;
        display: block;
        visibility: visible;
    }

    /*end opened event*/

    /*news*/
    .carousel-inner-news .active,
    .carousel-inner-news .active + .carousel-item-news,
    .carousel-inner-news .active + .carousel-item-news + .carousel-item-news,
    .carousel-inner-news .active
        + .carousel-item-news
        + .carousel-item-news
        + .carousel-item-news {
        display: block;
    }

    .carousel-inner-news
        .carousel-item-news.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner-news
        .carousel-item-news.active:not(.carousel-item-right):not(.carousel-item-left)
        + .carousel-item-news,
    .carousel-inner-news
        .carousel-item-news.active:not(.carousel-item-right):not(.carousel-item-left)
        + .carousel-item-news
        + .carousel-item-news,
    .carousel-inner-news
        .carousel-item-news.active:not(.carousel-item-right):not(.carousel-item-left)
        + .carousel-item-news
        + .carousel-item-news
        + .carousel-item-news {
        transition: none;
    }

    .carousel-inner-news .carousel-item-next {
        position: relative;
        transform: translate3d(0, 0, 0);
    }

    /* left or forward direction */
    #smallGallery
        .active.carousel-item-left
        + .carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left + .carousel-item-news,
    .carousel-item-next.carousel-item-left
        + .carousel-item-news
        + .carousel-item-news,
    .carousel-item-next.carousel-item-left
        + .carousel-item-news
        + .carousel-item-news
        + .carousel-item-news,
    .carousel-item-next.carousel-item-left
        + .carousel-item-news
        + .carousel-item-news
        + .carousel-item-news
        + .carousel-item-news {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }

    /* right or prev direction */
    #smallGallery
        .active.carousel-item-right
        + .carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right + .carousel-item-news,
    .carousel-item-prev.carousel-item-right
        + .carousel-item-news
        + .carousel-item-news,
    .carousel-item-prev.carousel-item-right
        + .carousel-item-news
        + .carousel-item-news
        + .carousel-item-news,
    .carousel-item-prev.carousel-item-right
        + .carousel-item-news
        + .carousel-item-news
        + .carousel-item-news
        + .carousel-item-news {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }

    /* farthest right hidden item must be abso position for animations */
    .carousel-inner-news .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }

    .carousel-inner-news
        .active.carousel-item-news
        + .carousel-item-news
        + .carousel-item-news {
        position: relative !important;
        display: block !important;
        right: 0 !important;
        visibility: visible !important;
    }

    .carousel-inner-news
        .active.carousel-item-news
        + .carousel-item-news
        + .carousel-item-news
        + .carousel-item-news
        + .carousel-item-news {
        position: absolute;
        top: 0;
        right: -25%;
        z-index: -1;
        display: block;
        visibility: visible;
    }

    .img-description {
        font-size: 10pt;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    /*end of news slider*/
}
@media(min-width:760px) and (max-width: 1160px) {
    
    .my-btn {
        border: 2px solid black;
        color: black;
        background-color: white;
        padding: 13px 5px;
        /* border-radius: 8px; */
        font-size: 10px;
        /* font-weight: bold; */
        width:90px;
        font-family: montserrat-bold;
        cursor: pointer;
    }
}

@media(min-width:760px) and (max-width :1440px) {
    .gallery-first-slide h1 {
        font-size:0.8rem;
    }

    .news-first-slide h1 {
        font-size:0.8rem;
    }
    .mobile-first p {
        font-size:0.1rem;
    }
}

@media(min-width:1165px) {
    .my-btn {
        border: 2px solid black;
        color: black;
        background-color: white;
        padding: 13px 5px;
        /* border-radius: 8px; */
        font-size: 14px;
        /* font-weight: bold; */
        width:130px;
        font-family: montserrat-bold;
        cursor: pointer;
    }
}

.my-btn-2 {
    border: 2px solid black;
    color: black;
    background-color: white;
    padding: 13px 5px;
    /* border-radius: 8px; */
    font-size: 14px;
    /* font-weight: bold; */
    width:130px;
    font-family: montserrat-bold;
    cursor: pointer;
}



.b-red {
    border:2px solid red;
}
.b-green {
    border:2px solid green;
}
.social-scale {
    bottom: 0;
  }
  .social-scale img{
    transform: scale(0.625);
  }

  .page-footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      color: #d4d4d4;
      font-size: 0.9em;
  }


/*
 *--------
 *CONTACT
 *--------
*/

.md-form {
    position: relative;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.md-form input:not([type]), .md-form input[type="text"]:not(.browser-default), .md-form input[type="password"]:not(.browser-default), .md-form input[type="email"]:not(.browser-default), .md-form input[type="url"]:not(.browser-default), .md-form input[type="time"]:not(.browser-default), .md-form input[type="date"]:not(.browser-default), .md-form input[type="datetime"]:not(.browser-default), .md-form input[type="datetime-local"]:not(.browser-default), .md-form input[type="tel"]:not(.browser-default), .md-form input[type="number"]:not(.browser-default), .md-form input[type="search"]:not(.browser-default), .md-form input[type="search-md"], .md-form textarea.md-textarea {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #000000;
    border-radius: 0;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.btn-sbm-mt {
    margin-top: 17%;
}
.contact-submit {
    background-color: #cccccc;
    border: none;
    color: white;
    font-family: montserrat-bold;
    src: url(../../font/montserrat/Montserrat-Bold.otf);
    font-size: 24pt;
    text-decoration: none;
    width: 260px;
    height: 100px;
    cursor: pointer;
    transition: background-color 1.5s;
}

.contact-textarea {
    height: calc(1.5em + .75rem + 2px) !important;
}

/*
 *-------
 * LOGIN
 *-------
*/

.elements-mid-align {
    align-items: center;
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    cursor: pointer;

  }



  .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top:0;
    opacity: 0;
    cursor: pointer;
    font-family: montserrat-regular;

  }
  .upload-btn-wrapper:hover {
      cursor: pointer;
  }
  /***/
  #artist-header input { background-color: #e6e6e6 !important; }
  #artwork-header input{ background-color: #cccccc !important; }


  .my-btns-new {
    border: 2px solid black;
    color: black;
    background-color: white;
    padding: 2px 5px;
    /* border-radius: 8px; */
    font-size: 14px;
    font-weight: bold;
    width: 135px;
    font-family: montserrat-regular;

    cursor: pointer;

  }
  .my-btn:hover {
    /* cursor:pointer; */
    cursor: pointer;

  }
  .my-btns-new:hover {
      cursor:pointer;
  }

  .virtual-toure {
      border: none !important;
  }

  /*
   *---------
   *ABOUT US
   *---------
  */

.about-carousel h1 {
    font-size:1.5rem;
}

.about-carousel h3 {
    font-size:0.8rem;
}

.about-carousel p {
    font-size:0.5rem;
}
.about-carousel ul li {
    list-style-type:none;
}
.about-carousel ul li:before {
    content: '-';

    margin-right: 10px;
}
.about-carousel ul li a {
    font-size:0.6rem;
    font-family: montserrat-regular;
}

.resize-img {
    max-width: 60%;
}

.about-carousel span {
    font-size:0.6rem;
}



