body {
    overflow-x: hidden;
}

#mainGallery, #smallGallery {
    position: relative;
}

.card {
    border: none !important;
}

/*
 *
 *  EVENT CAROUSEL
 *
 *
 */


#mainGallery .w-120-280 {
    width:280%;     /*width for mobile is 280% for desktop is 120%*/
}

#carouselExample .carousel-inner-main {
    left: -90%;
}
.carousel-item-main {
    margin-right: 0;
}

.carousel-inner-main .active + .carousel-item-main,
.carousel-inner-main .active + .carousel-item-main + .carousel-item-main, 
.carousel-inner-main .active + .carousel-item-main + .carousel-item-main {
    display: block;
}

.carousel-inner-main
.carousel-item-main.active:not(.carousel-item-right):not(.carousel-item-left),
.carousel-inner-main .carousel-item-main.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item-main,
.carousel-inner-main .carousel-item-main.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item-main + .carousel-item-main,
.carousel-inner-main .carousel-item-main.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item-main + .carousel-item-main + .carousel-item-main,
.carousel-inner-main .carousel-item-main.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item-main + .carousel-item-main + .carousel-item-main + .carousel-item-main,
.carousel-inner-main .carousel-item-main.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item-main + .carousel-item-main + .carousel-item-main + .carousel-item-main + .carousel-item-main  {
    transition: none;
}


/*show 7th slide for animation when its a 6 slides carousel */
.carousel-inner-main
.active.carousel-item-main
+ .carousel-item-main
+ .carousel-item-main
+ .carousel-item-main {
position: absolute;
top: 0;
right: -100%; /*change this with javascript in the future*/
z-index: -1;
display: block;
visibility: visible;
}

 
 /* forward direction > */
 .carousel-item-next.carousel-item-left
 + .carousel-item-gallery
 + .carousel-item-gallery,
.carousel-item-next.carousel-item-left
 + .carousel-item-gallery
 + .carousel-item-gallery
 + .carousel-item-gallery {
 position: relative;
 transform: translate3d(-100%, 0, 0);
 visibility: visible;
}

/* prev direction < last item animation fix */
.carousel-item-prev.carousel-item-right
 + .carousel-item-gallery
 + .carousel-item-gallery
 + .carousel-item-gallery
 .carousel-item-prev.carousel-item-right
 + .carousel-item-gallery
 + .carousel-item-gallery
 + .carousel-item-gallery
 + .carousel-item-gallery {
 position: relative;
 transform: translate3d(100%, 0, 0);
 visibility: visible;
 display: block;
 visibility: visible;
}

/* left or forward direction */
.active.carousel-item-left + .carousel-item-next.carousel-item-left,
.carousel-item-next.carousel-item-left + .carousel-item-main,
.carousel-item-next.carousel-item-left
  + .carousel-item-main
  + .carousel-item-main {
  position: relative;
  transform: translate3d(-100%, 0, 0);
  visibility: visible;
}

/* farthest right hidden item must be abso position for animations */
.carousel-inner-main .carousel-item-prev.carousel-item-right {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  display: block;
  visibility: visible;
}

/* right or prev direction */
.active.carousel-item-right + .carousel-item-prev.carousel-item-right,
.carousel-item-prev.carousel-item-right + .carousel-item-main,
.carousel-item-prev.carousel-item-right
  + .carousel-item-main
  + .carousel-item-main {
  position: relative;
  transform: translate3d(100%, 0, 0);
  visibility: visible;
  display: block;
  visibility: visible;
}
/* forward direction > */
.carousel-item-next.carousel-item-left
+ .carousel-item-main
+ .carousel-item-main,
.carousel-item-next.carousel-item-left
+ .carousel-item-main
+ .carousel-item-main
+ .carousel-item-main {
position: relative;
transform: translate3d(-100%, 0, 0);
visibility: visible;
}

/* prev direction < last item animation fix */
.carousel-item-prev.carousel-item-right
+ .carousel-item-main
+ .carousel-item-main
+ .carousel-item-main
.carousel-item-prev.carousel-item-right
+ .carousel-item-main
+ .carousel-item-main
+ .carousel-item-main
+ .carousel-item-main {
position: relative;
transform: translate3d(100%, 0, 0);
visibility: visible;
display: block;
visibility: visible;
}







