#overlay li a {
    /* text-align: center; */
    line-height: 100px;
    color: #cccccc;
    font-size: 24pt;
    font-family: montserrat-bold;
    src: url(../../font/montserrat/Montserrat-Bold.otf);
    padding: 0 !important;
  
}

#overlay li:hover {
    background-color: #cccccc;
    
  }
  #overlay li a:hover {
    color: #ffffff;
  }
  
.overlay {
  position: fixed;
  background-color:#FFFFFF;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.35s, visibility 0.35s, height 0.35s;
  overflow: hidden;
  z-index: 11;
}

.overlay.open {
  opacity: 1;
  visibility: visible;
  height: 100%;
}

.button_container {
  position: fixed;
  right: 0;
  width: 35px;
  cursor: pointer;
  z-index: 100;
  transition: opacity .25s ease;
}

.button_container:hover +.active +.top {
     opacity: 0.7;
     background: #000000;


}

.button_container.active .top {
	 transform: translateY(11px) translateX(0) rotate(45deg);
	 background: #000000;
}
 .button_container.active .middle {
	 opacity: 0;
	 background: #000000;
}
 .button_container.active .bottom {
	 transform: translateY(-11px) translateX(0) rotate(-45deg);
	 background: #000000;
}
.button_container span {
	 background: #ccc;
	 border: none;
	 height: 5px;
	 width: 100%;
	 position: absolute;
	 top: 0;
	 left: 0;
	 transition: all 0.35s ease;
	 cursor: pointer;
}

.button_container:hover span {
    background-color: #000000;
}
 .button_container span:nth-of-type(2) {
	 top: 11px;
}
 .button_container span:nth-of-type(3) {
	 top: 22px;
}



 .overlay.open li {
	 animation: fadeInRight 0.5s ease forwards;
	 animation-delay: 0.35s;
}
 .overlay.open li:nth-of-type(2) {
	 animation-delay: 0.4s;
}
 .overlay.open li:nth-of-type(3) {
	 animation-delay: 0.45s;
}
 .overlay.open li:nth-of-type(4) {
	 animation-delay: 0.5s;
}

 .overlay ul {
	 list-style: none;
	 padding: 0;
	 margin: 0 auto;
	 position: relative;
	 height: 100%;
}
 .overlay ul li {
	 display: block;
	 height: 25%;
	 height: calc(100% / 4);
	 min-height: 50px;
	 position: relative;
	 opacity: 0;
}
 .overlay ul li a {
	 display: block;
	 position: relative;
	 color: #fff;
	 text-decoration: none;
	 overflow: hidden;
}
 /* .overlay ul li a:hover:after, .overlay ul li a:focus:after, .overlay ul li a:active:after {
	 width: 100%;
} */
 .overlay ul li a:after {
	 content: '';
	 position: absolute;
	 bottom: 0;
	 left: 50%;
	 width: 0%;
	 transform: translateX(-50%);
	 height: 3px;
	 background: #fff;
	 transition: 0.35s;
}
.login-membership {
    margin-top: 35px;
    padding-right: 100px !important;
}
.login a{
    color: #000000 !important;
    font-size: 10pt;

    transition: font-family 3.5s;
}

.login a:hover {
 
 text-decoration: none;
 font-family: montserrat-bold;
 src: url(../../font/montserrat/Montserrat-Bold.otf);
}
.menu-span {
    color:#000000;
    font-size: 10pt;
  }

 @keyframes fadeInRight {
	 0% {
		 opacity: 0;
		 left: 20%;
	}
	 100% {
		 opacity: 1;
		 left: 0;
	}
}